In [8]:
x1q3z9ocd = 65.25
x1q3z9afd = 30
x1q3p9afd = x1q3z9ocd * x1q3z9afd

In [9]:
x1q3p9afd

1957.5

In [10]:
a = 65.25
b = 30
c = a * b
c

1957.5

In [11]:
mass = 65.25
acceleration = 30
Force = mass * acceleration
Force

1957.5

In [12]:
n = 17
print(n)

17

In [38]:
x = 1 + 2 * 3 - 4 / 5 ** 6
x

6.999744

In [35]:
print((3 * 100) / 60)
print(3 * 100 / 60)
print(4 / 2 * 8)
print(4 / (2 * 8))
print(4 / 2 / 8)

5.0
5.0
16.0
0.25
0.25

In [18]:
'throat'+ ' warbler'

'throat warbler'

In [19]:
' Spam '* 3

'SpamSpamSpam'

In [42]:
'2' + '1'

'21'

In [41]:
'2' - '1'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [43]:
'eggs' * 'easy'

TypeError: can't multiply sequence by non-int of type 'str'

In [25]:
'eggs' + ' easy'

'eggs easy'

In [28]:
'third' * '3'

'thirdthirdthird'

In [46]:
print('Hello', "World", '2', 'a', '1+3')
print('''This is a multi-line string''')
print("""This is also a multi-line string""")

Hello World 2 a 1+3
This is a multi-line string
This is also a multi-line string

In [51]:
print(99 // 100)
print(99 / 100)
print(99 / 100.0)
print(99.0 // 100)
print(1 + 2 * 3 // 4.0 - 5)

0
0.99
0.99
0.0
-3.0

In [53]:
message = 'hello '+ 'there'
type(message)

str

In [55]:
message + 1

TypeError: can only concatenate str (not "int") to str

In [57]:
message + ' 1'

'hello there 1'

In [72]:
num = '2' + '1'
type(num)

str

In [75]:
result = int(num) + 1
type(result)

int

In [76]:
print(result)

22

In [77]:
num = 42
float(num)

42.0

In [79]:
int(42.56) + 1

43

In [80]:
str(1) + str(2)

'12'

In [ ]:
the end of ch two    the end of ch two     the end of ch two     the end of ch two    the end of ch two

In [81]:
type(True)

bool

In [82]:
type(False)

bool

In [84]:
print(2 < 3) 
7 - 1 >= 2 * 3

True

True

In [86]:
print(3 == 4 + 4 )
2 != 3

False

True

In [87]:
2 < 3 and 4 > 5

False

In [88]:
2 < 3 and True

True

In [89]:
False or True and False

False

In [90]:
3 >= -1 or 8*2 > 2**4 and 9 !=3

True

In [93]:
-2**2

-4

In [96]:
print(4 % 2 == 0)
print(4 % 3 == 1)

True
True

In [97]:
print(0 and False)
print(0 and True)

0
0

In [102]:
1 and True

True

In [101]:
1 and False

False

In [100]:
5 and True

True

In [99]:
5 and False

False

In [98]:
0 or True

True

In [104]:
0 or False

False

In [105]:
1 or True

1

In [106]:
1 or False

1

In [107]:
4 or False

4

In [108]:
4 or True

4

In [109]:
1 == True

True

In [110]:
2 == True

False

In [111]:
-1 == True

False

In [112]:
0 == False

True

In [ ]:
-0 == False

In [ ]:
1 == False

In [ ]:
5 == False

In [116]:
x = 5
y = 10
z = x + y
print(z)

21

In [118]:
if x > y:
 print("x is greater than y")
elif x < y:
 print("x is less than y")
else:
 print("x is equal to y")

x is greater than y

In [122]:
for i in range(5):
 print(i)

0
1
2
3
4

In [121]:
for i in range(5):
 print(i,end=" ")

0 1 2 3 4

In [3]:
x = 2
if x > 0:
    print("positive")
elif x < 0:
    print("negative")

positive

In [18]:
num1=int(input("please enter the first num"))
num2=int(input("please enter the second num"))
if num2 == 0:
    print("divisible by 0 is not allowed")
if num1 % num2 == 0:
    print("the firt number is divisible by the second number")
else:
    print("the firt number is not divisible by the second number")

the firt number is divisible by the second number

In [15]:
word = str(input("insert a word please"))
vowels = ("a","e","i","o","u","A","E","I","O","U")
vow = 0
for char in word:
    if char in vowels:
        vow +=1
x = vow
if vow >= 1:
    print(f"yes there is {x} char of vowel") 
else:
    print("no vowel")

yes there is 5 char of vowel

In [5]:
n = int(input("insert a number"))
if n % 2 == 0:
    print("even")
else:
    print("odd")

even

In [6]:
age = int(input("your age please?"))
if age >= 18:
    print(" eligible")

 eligible

In [21]:
x = int(input("insert a number"))
if x > 0:
    print("positive")
elif x < 0:
    print("negative")
else:
    print("zero")

zero

In [39]:
x = float(input("insert your grade"))
if 90<=x<=100:
    print("A")
elif 80<=x<=89:
    print("B")
elif 70<=x<=79:
    print("C")
elif 60<=x<69:
    print("D")
elif x<=60:
    print("F")

A

In [41]:
x = int(input("insert a number x"))
y = int(input("insert a number y"))
if x > 0:
    if x > y:
        print("x is positive & greater than y")
    else:
        print("x is positive & less than or equal to y")
else:
    print("x is not positive")

x is positive & less than or equal to y

In [61]:
year = int(input("insert the year"))
if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print("its leap year" ) 
        else:
            print( "its not leap year")  
    else:
        print("its leap year" )  
else:
    print( "its not leap year")

its not leap year

In [70]:
x = float(input("insert a number x"))
y = float(input("insert a number y"))
if x>0 and y>0:
    print("first quadrant")
if x<0 and y>0:
    print("second quadrant")
if x<0 and y<0:
    print("third quadrant")
if x>0 and y<0:
    print("fourth quadrant")

second quadrant

In [3]:
value = int(input("insert a number x"))
if((value > 0) or (value <= 10)):
    print(value)

4

In [5]:
value = int(input("insert a number x"))
if((value > 0) and (value <= 10)):
    print(value)

7

In [6]:
value = int(input("insert a number x"))
if((value < 0) and (value > 10)):
    print(value)
else:
    print("doesn't even exist" )

doesn't even exist

In [7]:
if((1.11 - 1.10) == (2.11 - 2.10)):
    print('done')
else:
    print("isn't it crazy they are not equal")

isn't it crazy they are not equal

In [74]:
for i in range(5):
    print(i)

0
1
2
3
4

In [7]:
count = 0
while count < 5:
    print(count,end=" ,")
    count += 1

0 ,1 ,2 ,3 ,4 ,

In [9]:
for i in range(3):
    for j in range(2):
        print((i,j),end=" ,")

(0, 0) ,(0, 1) ,(1, 0) ,(1, 1) ,(2, 0) ,(2, 1) ,

In [10]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [18]:
x = (12,42,2,14,5,3,53)
count = 0
sum = 0
for i in x:
    count+=1 
    sum+=i  
print(sum)

131

In [22]:
word= "abebe"
count = 0
for i in word:
    count += 1
    print(i)

a
b
e
b
e

In [23]:
s="hello world"
for char in s:
    print(char)

h
e
l
l
o

w
o
r
l
d

In [37]:
n=int(input("insert the number which you need the factorial"))
count = 0
prod = 1
for i in range(1,n+1):
    count+=1
    prod *=i
print(prod)

720

In [43]:
cnt=1
while cnt<11:
    print(cnt,end=", ")
    cnt += 1

1, 2, 3, 4, 5, 6, 7, 8, 9, 10,

In [66]:
while True:
    user_input = input("Enter something (type 'exit' to stop): ")
    if user_input == 'exit':
        break
    else:
        print(f"You entered: {user_input}")

You entered: sdfg

In [56]:
list = (2,3,56,4,32,45)
cnt = 1
sum = 0
for i in list:
    sum += i
    cnt += 1
print(sum)

142

In [62]:
list = (2,3,56,4,32,45)
cnt = 0
for i in list:
    cnt += 1
print(cnt)

6

In [73]:
a = int(input("insert a number a"))
b = int(input("insert a number b"))
if a>b:
    min=b
    max=a
else:
    min=a
    max=b
for i in range(1,min+1):
    if (a%i==0 and b%i==0):
        gcd=i
print(gcd)

5

In [86]:
n=int(input("insert a number n"))
while n>=0:
    print(n,end=", ")
    n-=1

13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0,

In [115]:
n=6
for i in range(1,n+1):
    for j in range(1,n+1):
        print(i*j,end="  ")
    print()

1  2  3  4  5
2  4  6  8  10
3  6  9  12  15
4  8  12  16  20
5  10  15  20  25

In [96]:
for i in range(7):
    print(i*"*")

*
**
***
****
*****
******

In [119]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [123]:
for i in range(10):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

In [125]:
for i in range(10):
    if i % 2 == 0:
        pass 
    else:
        print(i)

1
3
5
7
9

In [126]:
user="exit"
while True:
    print("This is an infinite loop")
    if input(user):
        break

This is an infinite loop

In [ ]:
x = 10
while(x > 0):
    x += 1

In [129]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [130]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [132]:
sentinel = -1
number = 0
sum = 0
while number != sentinel:
    number = int(input("Enter a number (-1 to stop): "))
    if number != sentinel:
        sum += number

In [ ]:
end of chp 3   end of chp 3    end of chp 3    end of chp 3    end of chp 3    end of chp 3    end of chp 3

In [2]:
import math

In [3]:
print(math.sqrt(16))
print(math.pi) 
print(math.factorial(5)) 
print(math.sin(math.pi/2))

4.0
3.141592653589793
120
1.0

In [6]:
import random

In [7]:
# Random float between 0.0 and 1.0
print(random.random())
# Random integer between 1 and 10
print(random.randint(1, 10))
# Random choice
print(random.choice(['apple', 'banana', 'cherry']))
# 5 unique random numbers
print(random.sample(range(100), 5))

0.7168021335033281
10
apple
[24, 45, 60, 69, 85]

In [18]:
import datetime

In [19]:
now = datetime.datetime.now()
print(now) 
new_year = datetime.datetime(2024, 1, 1)
print(new_year)

2024-07-23 10:30:21.488422
2024-01-01 00:00:00

In [17]:
import os

In [11]:
print(os.name) # Output: Name of the operating system
print(os.getcwd()) # Output: Current working directory
os.mkdir('new_folder') # Create a new directory
os.rmdir('new_folder') # Remove a directory

nt
c:\Users\NBC\Desktop\demo repositery\assignment

In [33]:
def greet(name):
    return (f"Hello,{name}!")
greet("eyob")

'Hello,eyob!'

In [34]:
def print_message():
    print("Hello, World!")
result = print_message()
print(result)
print(print_message())

Hello, World!
None
Hello, World!
None

In [35]:
def add(a, b):
    return a + b
add(3, 5)

8

In [26]:
def is_even(n):
    return n % 2 == 0
print(is_even(4))
print(is_even(7))

True
False

In [29]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)
num =4
print(factorial(num))

24

In [36]:
def calculate_area(length, width):
    """
    This function calculates the area of a rectangle.
    """
    area = length * width
    return area
area = calculate_area(5, 3)
print(f"The area is {area}")

The area is 15

In [39]:
def greet(name, message="Hello"):
    print(f"{message}, {name}!")
greet("Alice")
greet("Bob", "Hi")
greet("Hi","Bob")

Hello, Alice!
Hi, Bob!
Bob, Hi!

In [38]:
def describe_pet(animal_type, pet_name):
    print(f"I have a {animal_type} named {pet_name}.")
describe_pet(animal_type="dog", pet_name="Rex")
describe_pet(pet_name="Mittens", animal_type="cat")

I have a dog named Rex.
I have a cat named Mittens.

In [43]:
def sum_numbers(*args):
    return sum(args)
print(sum_numbers(1, 2, 3))
print(sum_numbers(4, 5, 6, 7))

6
22

In [42]:
def print_info(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")
print_info(name="Alice", age=30, city="New York")

name: Alice
age: 30
city: New York

In [51]:
greet("bro", "what's up")
print_message()
print(add(43, 25))
print(is_even(82))
print(factorial(25))
print(calculate_area(23,13))
greet("abebe")
describe_pet(animal_type="kwala", pet_name="hehe")
print(sum_numbers(1,2,3,4,534,2421,45,13,64,35,55,54,4,66))
print_info(age=0, city="unknown")
print("the end")

what's up, bro!
Hello, World!
68
True
15511210043330985984000000
299
Hello, abebe!
I have a kwala named hehe.
3301
age: 0
city: unknown
the end

In [52]:
x = 10 # Global variable
def print_global():
    print(x)
print_global()

10

In [53]:
x = 10
def modify_global():
    global x
    x = 20
print("Before function call:", x)
modify_global()
print("After function call:", x)

Before function call: 10
After function call: 20

In [59]:
y = 10 # global variable
def print_local():
    y = 5 # Local variable
    z = 7 # Local variable
# print(y,z)
print_local()
# print(z) # This would cause an error
print(y) # prints the value 10

10

In [58]:
def example_function():
    return "This will be returned"
print("This will never be printed") # Dead code
print(example_function())

This will never be printed
This will be returned

In [ ]:
end of chp 4   end of chp 4   end of chp 4   end of chp 4   end of chp 4   end of chp 4   end of chp 4

In [7]:
my_string = "Hello, World!"
another_string = 'This is also a string.'
multiline_string = """This is a
            multiline string."""

In [8]:
print(my_string)
print(another_string)
print(multiline_string)

Hello, World!
This is also a string.
This is a
            multiline string.

In [22]:
my_string = "Hello, World!"
my_string[0]

'H'

In [23]:
my_string[-1]

'!'

In [24]:
print(my_string[7] )
print(my_string[-2])

W
d

In [14]:
my_string = "Hello, World!"
print(my_string[2:7])
print(my_string[:7])
print(my_string[7:])

llo,
Hello,
World!

In [15]:
my_string = "Hello, World!"
print(my_string[::2])
print(my_string[2::2])
print(my_string[-2:])
print(my_string[-5::-1] )

Hlo ol!
lo ol!
d!
oW ,olleH

In [16]:
my_string = "Hello, World!"
if 'Hello' in my_string:
    print("Found 'Hello'")
if 'Python' not in my_string:
    print("'Python' not found")

Found 'Hello'
'Python' not found

In [17]:
my_string = "Hello, World!"
for char in my_string:
    print(char)

H
e
l
l
o
,

W
o
r
l
d
!

In [19]:
str1 = "Hello"
str2 = "World"
str3 = str1
str1 + ", " + str2 + "!"

'Hello, World!'

In [20]:
print(str2 * 4)
print(str1 is str2)
print(str1 is str3)

WorldWorldWorldWorld
False
True

In [21]:
my_string = "Hello, World! hello hello2 Hello"
len(my_string)

32

In [22]:
my_string.lower()

'hello, world! hello hello2 hello'

In [23]:
my_string.upper()

'HELLO, WORLD! HELLO HELLO2 HELLO'

In [24]:
my_string.strip()

'Hello, World! hello hello2 Hello'

In [25]:
my_string.replace("World", "Python")

'Hello, Python! hello hello2 Hello'

In [26]:
print(my_string.split())
my_string.split(",")

['Hello,', 'World!', 'hello', 'hello2', 'Hello']

['Hello', ' World! hello hello2 Hello']

In [29]:
my_string.find("hello")

14

In [30]:
my_string.find("hello", 15)

20

In [31]:
my_string.find("hello", 1, 3)

-1

In [32]:
my_string.count("Hello")

2

In [33]:
my_string.count("o")

5

In [34]:
"The sum of {0} and {1} is {2}".format(-5,6,1)
"".join(['h','e','l','l','o'])

'hello'

In [35]:
my_list = [1, 2, 3, "apple", 4.5, True, [5, 6]]
print(my_list)

[1, 2, 3, 'apple', 4.5, True, [5, 6]]

In [37]:
print(my_list[0])
print(my_list[-1])
print(my_list[1:4])
print(my_list[1:])
print(my_list[-2:])
print(my_list[:3])
print(my_list[::2])
print(my_list[::-1])

1
[5, 6]
[2, 3, 'apple']
[2, 3, 'apple', 4.5, True, [5, 6]]
[True, [5, 6]]
[1, 2, 3]
[1, 3, 4.5, [5, 6]]
[[5, 6], True, 4.5, 'apple', 3, 2, 1]

In [38]:
my_list = [1, 2, 3, "apple", 4.5]
my_list[0] = 10
print(my_list, len(my_list))
my_list[1:3] = ["banana", "cherry"]
print(my_list, len(my_list))

[10, 2, 3, 'apple', 4.5] 5
[10, 'banana', 'cherry', 'apple', 4.5] 5

In [39]:
my_list = [1, 2, 3, "apple", 4.5]
for item in my_list:
    print(item)
for index, item in enumerate(my_list):
    print(f"Index: {index}, Value: {item}")

1
2
3
apple
4.5
Index: 0, Value: 1
Index: 1, Value: 2
Index: 2, Value: 3
Index: 3, Value: apple
Index: 4, Value: 4.5

In [42]:
my_list = [1, 2, 3, "apple", 4.5]
print("apple" in my_list)
"banana" not in my_list

True

True

In [45]:
list1 = [1, 2, 3]
list2 = ["a", "b", "c"]
print(list1 + list2)
print(list1 * 2)

[1, 2, 3, 'a', 'b', 'c']
[1, 2, 3, 1, 2, 3]

In [46]:
my_list = [1, 2, 3]
print(my_list.append(4))
print(my_list.insert(-1, 5))
print(my_list.insert(1, "apple"))
print(my_list.extend([5, 6]))
print(my_list.remove("apple"))
print(my_list.pop())
print(my_list.pop(2))

None
None
None
None
None
6
3

In [50]:
my_list = [3, 1, 2, 3, 5, 4, "apple", 4.5, True]
print(my_list.index(3))
print(my_list.count(3))
print(my_list.reverse())
print(my_list.copy())
print(my_list.clear())
print(my_list.sort())

0
2
None
[True, 4.5, 'apple', 4, 5, 3, 2, 1, 3]
None
None

In [51]:
# Create a list of squares from 1 to 5
squares = [x**2 for x in range(1, 6)]
print(squares)
# Create a list of even numbers from 1 to 10
evens = [x for x in range(1, 11) if x % 2 == 0]
print(evens)

[1, 4, 9, 16, 25]
[2, 4, 6, 8, 10]

In [53]:
my_tuple = (1, 2, 3, "apple", 4.5, True, (5, 6))
print(my_tuple)

(1, 2, 3, 'apple', 4.5, True, (5, 6))

In [54]:
my_tuple = (1, 2, 3, "apple", 4.5, True, (5, 6))
print(my_tuple[0])
print(my_tuple[-1])
print(my_tuple[1:4])
print(my_tuple[1:])
print(my_tuple[-2:])
print(my_tuple[:3])
print(my_tuple[::2])
print(my_tuple[::-1])

1
(5, 6)
(2, 3, 'apple')
(2, 3, 'apple', 4.5, True, (5, 6))
(True, (5, 6))
(1, 2, 3)
(1, 3, 4.5, (5, 6))
((5, 6), True, 4.5, 'apple', 3, 2, 1)

In [56]:
my_tuple = (1, 2, 3, "apple", 4.5)
print(len(my_tuple)) # Output: 5
# Trying to update an element in a tuple will raise an error
try:
    my_tuple[0] = 10
except TypeError as e:
    print(e) # Output: 'tuple' object does not support item assignment

5
'tuple' object does not support item assignment

In [57]:
my_tuple = (1, 2, 3, "apple", 4.5)
for item in my_tuple:
    print(item)
for index, item in enumerate(my_tuple):
    print(f"Index: {index}, Value: {item}")

1
2
3
apple
4.5
Index: 0, Value: 1
Index: 1, Value: 2
Index: 2, Value: 3
Index: 3, Value: apple
Index: 4, Value: 4.5

In [61]:
my_tuple = (1, 2, 3, "apple", 4.5)
print("apple" in my_tuple)
"banana" not in my_tuple

True

True

In [62]:
tuple1 = (1, 2, 3)
tuple2 = ("a", "b", "c")
print(tuple1 + tuple2)
print(tuple1 * 2)
print((0,) * 10)

(1, 2, 3, 'a', 'b', 'c')
(1, 2, 3, 1, 2, 3)
(0, 0, 0, 0, 0, 0, 0, 0, 0, 0)

In [63]:
packed_tuple = 1, 2, 3, "apple"
print(packed_tuple)
a, b, c, d = packed_tuple
print(a, b, c, d)
a, b, *rest = (1, 2, 3, 4, 5)
print(a, b, rest)

(1, 2, 3, 'apple')
1 2 3 apple
1 2 [3, 4, 5]

In [65]:
my_tuple = (3, 1, 2, 3, 5, 4, "apple", 4.5, True)
print(my_tuple.index(3))
print(my_tuple.count(3))

0
2

In [66]:
my_dict = { "name": "Alice",
"age": 25,
8:"New York",
("hobby_1","hobby_1"): ["reading", "hiking"]
}
print(my_dict)

{'name': 'Alice', 'age': 25, 8: 'New York', ('hobby_1', 'hobby_1'): ['reading', 'hiking']}

In [68]:
my_dict = { "name": "Alice", "age": 25, 4:["a", "b"]}
my_dict["name"]

'Alice'

In [70]:
my_dict.get("age")

25

In [72]:
my_dict.get("salary")

In [74]:
my_dict = {"name": "Alice","age": 25,"city": "New York"}
my_dict["salary"] = 50000
print(my_dict)
my_dict["age"] = 26
print(my_dict)

{'name': 'Alice', 'age': 25, 'city': 'New York', 'salary': 50000}
{'name': 'Alice', 'age': 26, 'city': 'New York', 'salary': 50000}

In [75]:
my_dict = { "name": "Alice", "age": 26,"city": "New York", "salary": 50000}
# Removing a key-value pair using del
del my_dict["salary"]
print(my_dict)
# Removing a key-value pair using pop
my_dict.pop("age")
print(my_dict)

{'name': 'Alice', 'age': 26, 'city': 'New York'}
{'name': 'Alice', 'city': 'New York'}

In [76]:
my_dict = { "name": "Alex", "age": 25, "city": "AA"}
for key in my_dict:
    print(key)
for value in my_dict.values():
    print(value)
for key, value in my_dict.items():
    print(f"Key: {key}, Value: {value}")

name
age
city
Alex
25
AA
Key: name, Value: Alex
Key: age, Value: 25
Key: city, Value: AA

In [ ]:
my_dict = { "name": "Alex", "age": 25, "city": "AA"}
my_dict.keys()
my_dict.values()
my_dict.items()
new_dict = my_dict.copy()
print(new_dict)
my_dict.clear()
print(my_dict)

In [77]:
# Create a dictionary of squares
squares = {x: x**2 for x in range(1, 6)}
print(squares)
# Create a dictionary with condition
{x: x**2 for x in range(1, 6) if x % 2 == 0}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

{2: 4, 4: 16}

In [78]:
# Using curly braces
my_set = {1, 2, 3, 3, 2, "apple"}
print(my_set)
# Using the set() function
my_set = set([1, 2, 3, "apple", 4.5, True])
print(my_set)

{1, 2, 3, 'apple'}
{1, 2, 3, 4.5, 'apple'}

In [83]:
my_set = {1, 2, 3, "apple", 4.5, True}
my_set[0] # error
print(1 in my_set)
print("banana" in my_set)

TypeError: 'set' object is not subscriptable

In [82]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1 | set2 )
print(set1 & set2)
print(set1 - set2)
print(set1 ^ set2 )

{1, 2, 3, 4, 5}
{3}
{1, 2}
{1, 2, 4, 5}

In [84]:
my_set = {1, 2, 3, "apple", 4.5}
for item in my_set:
    print(item)

1
2
3
4.5
apple

In [90]:
my_set.add(4)

In [91]:
print(my_set.add(4))

None

In [95]:

my_set.copy()

{1, 2, 3, 4, 5, 6, 'apple'}

In [96]:
my_set.remove("b")

KeyError: 'b'

In [97]:
my_set.discard("b") # No error if "b" is not present

In [98]:
my_set.clear()

In [86]:
squares = {x**2 for x in range(-6, 6)}
print(squares)
even_squares = {x**2 for x in range(1, 6) if x % 2 == 0}
print(even_squares)

{0, 1, 36, 4, 9, 16, 25}
{16, 4}

In [ ]:
end of chp 5    end of chp 5     end of chp 5     end of chp 5     end of chp 5      end of chp 5     end of chp 5

In [5]:
path = r"C:\Users\NBC\Desktop\New folder (3)\Ne.txt.txt"

In [6]:
file=open(path,"r")

In [7]:
print(file.read())

hello
is it working
its for try

In [101]:
file=open("assignment2.txt","w")

In [74]:
file = open("assignment2.txt", "r")

In [77]:
content = file.read()
print(content)

hello
is it working

In [81]:
file.seek(0)
lines=file.readlines()
print(lines)

['hello\n', 'is it working']

In [82]:
file.seek(0) 
line = file.readline()
print(line)

hello

In [87]:
file = open("assignment2.txt", "w")
file.write("Hello, World!\n")
lines = ["this is the first line.\n",
         "this is the second line.\n"]
file.writelines(lines)

In [89]:
file= open("assignment2.txt","a")
file.write("this line will be added.\n")

25

In [71]:
file.close()

In [91]:
with open("assignment2.txt","w")as file:
    content = file.write("this is test\nthis txt file works")
    print(content)

32

In [92]:
import os
cwd = os.getcwd()
print(cwd)
full_path = os.path.join(cwd, "example.txt")
print(full_path)
print(os.path.exists(full_path))

c:\Users\NBC\Desktop\demo repositery\assignment
c:\Users\NBC\Desktop\demo repositery\assignment\example.txt
False

In [100]:
import pickle
data = {'name': 'Alice', 'age': 25, 'city': 'New York'}
with open('data.pkl', 'wb') as file:
    pickle.dump(data, file)
with open('data.pkl', 'rb') as file:
    loaded_data = pickle.load(file)
print(loaded_data)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [105]:
try:
    result = 10 / 0
except ZeroDivisionError:
    print("Cannot divide by zero")
else:
    print("Division successful")
finally:
    print("Execution completed")

Cannot divide by zero
Execution completed

In [107]:
try:
    with open('non_existent_file.txt', 'r') as file:
        content = file.read()
except FileNotFoundError:
    print("File not found. Please check the file name and path.")
except IOError:
    print("An error occurred while reading the file.")
else:
    print("File read successfully")

File not found. Please check the file name and path.

In [128]:
class Dog:
    def __init__(self, name, age):
        self.name = name 
        self.age = age 
    def bark(self): 
        print(f"{self.name} says woof!")

In [149]:
Dog("boby",2)

In [144]:
class Dog:
    def __init__(self, name, age):
        self.name = name 
        self.age = age

In [145]:
dog1 = Dog("Buddy", 3)
dog2 = Dog("Lucy", 5)

In [146]:
print(dog1.name) 
print(dog2.age)

Buddy
5

In [121]:
dog1.age = 4
print(dog1.age) # Output: 4
dog1.breed = "Labrador"
print(dog1.breed) # Output: Labrador

4
Labrador

In [122]:
class Animal:
    def speak(self):
        print("Animal speaks")
class Dog(Animal):
    def bark(self):
        print("Dog barks")

In [123]:
dog = Dog()
dog.speak() 
dog.bark()

Animal speaks
Dog barks

In [124]:
class Animal:
    def speak(self):
        print("Animal speaks")

In [125]:
class Dog(Animal):
    def speak(self):
        print("Dog barks")
class Cat(Animal):
    def speak(self):
        print("Cat meows")

In [126]:
dog = Dog()
cat = Cat()
dog.speak() 
cat.speak()

Dog barks
Cat meows

In [ ]:
end of chapter six     end of chapter six     end of chapter six    end of chapter six     end of chapter six  end of chapter six