In [6]:
my_string="hello, world!"

In [4]:
my_string[0]

'h'

In [9]:
my_string[-1]

'!'

In [7]:
my_string[7]

'w'

In [8]:
my_string[6]

' '

In [11]:
my_string[2:7]

'llo, '

In [12]:
my_string[:7]

'hello, '

In [13]:
my_string[7:]

'world!'

In [15]:
my_string[::1]

'hello, world!'

In [16]:
my_string[::3]

'hl r!'

In [17]:
my_string[::2]

'hlo ol!'

In [22]:
my_string[-5::-1]

'ow ,olleh'

In [20]:
if "hello"in my_string:
    print("found 'hello'")

found 'hello'

In [21]:
if "python" not in my_string:
    print("'python'not found ")

'python'not found

In [23]:
for char in my_string:
    print(char)

h
e
l
l
o
,

w
o
r
l
d
!

In [29]:
str1 ="hello"
str2 ="world"
str3=str1

In [25]:
str1 is str2

False

In [26]:
str1 + ", "+ str2

'hello, world'

In [27]:
str1 * 4

'hellohellohellohello'

In [31]:
if str1 in str3:
    print("found")

found

In [ ]:
str1

In [57]:
my_string ="    Hello, world! hello hello 2 Hello       "

In [46]:
len(my_string)

33

In [47]:
my_string.lower()

'hello, world! hello hello 2 hello'

In [48]:
my_string.upper()

'HELLO, WORLD! HELLO HELLO 2 HELLO'

In [55]:
my_string.lower()

'Hello, world! hello hello 2 Hello'

In [58]:
my_string.lstrip()

'Hello, world! hello hello 2 Hello       '

In [39]:
my_string.replace("world","python")

'Hello, python!hello hello 2 Hello'

In [44]:
my_string.split()

['Hello,', 'world!', 'hello', 'hello', '2', 'Hello']

In [59]:
len(my_string.split())

6

In [45]:
my_string.split(",")

['Hello', ' world! hello hello 2 Hello']

In [60]:
len(my_string.split(","))

2

In [78]:
my_string ="Hello, world! hello hello 2 Hello       "

In [79]:
my_string.find("hello")

12

In [77]:
my_string.find("hello",15)

18

In [63]:
my_string.find("hello",1,3)

-1

In [64]:
my_string.count("hello")

2

In [67]:
my_string.count("o")

5

In [80]:
"the sum of {0}and{1} is {2}".format(-5,6,1)

'the sum of -5and6 is 1'

In [86]:
"".join(['h','e','l','l'])

'hell'

In [83]:
my_list= [1,2,3,"apple",4.5,True ,[1,5]]
print(my_list)

[1, 2, 3, 'apple', 4.5, True, [1, 5]]

In [87]:
my_list[0]

1

In [88]:
my_list[-1]

[1, 5]

In [89]:
my_list[1:]

[2, 3, 'apple', 4.5, True, [1, 5]]

In [90]:
my_list[::2]

[1, 3, 4.5, [1, 5]]

In [91]:
my_list[::-1]

[[1, 5], True, 4.5, 'apple', 3, 2, 1]

In [92]:
my_list[:3]

[1, 2, 3]

In [93]:
my_list[1:4]

[2, 3, 'apple']

In [94]:
my_list[::]

[1, 2, 3, 'apple', 4.5, True, [1, 5]]

In [95]:
my_list[-5:-1:-1]

[]

In [96]:
my_list[0]=10

In [98]:
print(my_list,len(my_list))

[10, 2, 3, 'apple', 4.5, True, [1, 5]] 7

In [99]:
my_list[1:3]=["banana","cherry"]

In [100]:
print(my_list,len(my_list))

[10, 'banana', 'cherry', 'apple', 4.5, True, [1, 5]] 7

In [1]:
for index, item in my enumerate(my_list)

SyntaxError: invalid syntax (2943375672.py, line 1)